*{
    margin:0;
    padding:0;
    font-family: helvetica;
    
}

#wrapper {
    float: left;
    padding: 15px;
    width: 100%;
    border: 20px solid #1e6342;
    border-radius: 5px;
    background-image: linear-gradient(#53be83 60%, white);
    box-sizing: border-box;
}

img {
    float: right;
    margin-left: 5px;
}

h1 {
    color: #1e6342;
    text-align: center;
}

.right {
    float:left;
}

.border {
    padding:20px;
    border: 3px double black;
    border-radius: 20px;
    width: 200px;
    margin: 10px 30px 0 0;
    background-color: white;
}

.border:first-child {
    margin-top: 40px;
}

.border:last-child {
    margin-bottom: 30px;
}

.input {
    margin: 10px;
    width: 50%;
    min-width: 300px;
    float:left;
    
}

input {
    width: 195px;
    height: 20px;
    margin: 3px 0;
    color:white;
    border-color:black black cornflowerblue cornflowerblue;
    
}

p {
    margin: 6px 0;
}

input:last-of-type {
    margin-top: 8px;
    width: 197px;
    height: 30px;
    color: whitesmoke;
    background-color: #1e6342;
    border: none;
    border-radius: 8px;
    font-size: 15px;
}

#footer {
    height: 75px;
    width: 100%;
    background: #1e6342;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    border-top: 1px solid whitesmoke;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.bottom-links {
    height:40px;
    width:40px;
    border-radius: 20px;
    font-family: verdana;
    color: #1e6342;
    font-size: 22px;
    background-color:white;
    opacity: .8;
    font-weight: bold;   
}

.bottom-links:hover {
    opacity: .5;
    font-size: 12px;
}