html, body, h1, h2, h3, h4, ul, ol, li, pre, p, a {
    margin: 0;
    padding: 2px;
    border: 0;
    font-family: arial;
}

body {
    background-color: dimgray;
    margin: 0 8px;
    padding: 0;
    height: 100%;
}

h1 {
    text-align: center;
    margin: 20px 0px 0px 0px;
    color: white;
    font-size: x-large;
    font-family: tahoma;
    font-weight: 400;
    
}

h2 {
    font-weight: 500;
    color: #c0c0c0;
}


ul li {
    list-style-type: none;
    margin-left: 18px;
}

.links {
    list-style-type: none;
    margin-top: 15px;
    padding: 3px;
    text-align: center;
    background-color: white;
}

p {
    text-align: center;
    color: gray;
    
}

#header {
    background-color: black;
}

#link {
    font-size: 20px;
    font-style: bold;
    font-color: white;
}

#content {
    padding-bottom: 100px;
    margin: 0 20px;
}

#wrapper {
    min-height:100%;
	position:relative;
}

#footer {
    background: gray;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

#footer h3 {
    margin: 15px 0px 10px 0px;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
}

#footer p, #footer pre {
    padding: 2px;
    display: inline;
    font-size: 12px;
    color: #444444;
    position: relative;
    
}

#footer p:hover, #footer pre:hover {
    background-color: white;
    color: black;
    animation-name: wiggle;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
}

@keyframes wiggle {
    0%, 50% {
        transform: translateX(-5px);
    } 
    25%, 75% {
        transform: translateX(5px);
    } 
    100% {
        transform: translateX(0px);
    }
}
