html, body, h1, h2, h3, h4, ul, ol, li, p, a {
    margin: 0;
    padding: 0;
    border: 0;
    
}

body {
    background-color: dimgray;
}

h1 {
    text-align: center;
    margin: 10px 0px 0px 0px;
    color: white;
    font-size: x-large;
    font-family: "arial";
    font-weight: 900;
    
}

p {
    text-align: center;
    color: gray;
    
}

#header {
    background-color: black;
}