body {
    text-align: center;
    background-color: #444;
}
input {
    font-family: monospace;
}
h1 {
    width: 500px;
    margin: 20px auto;
    text-align: left;
}
#display {
    background-color: #eee;
    width: 500px;
    margin: 30px auto;
    padding: 5px;
    text-align: right;
    font-family: monospace;
	font-size: 25px;
}

.buttons input {
    width: 70px;
    height: 70px;
    margin: 2px;
}
#functionality {
    width: 500px;
    margin: 0 auto 15px;
}
#functionality input:last-child {
    margin-right: 180px
}
#container {
    width: 500px;
    margin: 0 auto;
    position: relative;
}
#num-buttons {
    position: absolute;
    width: 250px;
    left: 15%;
}

#oper-buttons {
    position: absolute;
    width: 70px;
    top: 0%;
    right: 15%;
}

#oper-buttons input {
    width: 56px;
    height: 56px;
}